bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/netcoreapp3.1/WebApi01.deps.json
bin/Debug/netcoreapp3.1/WebApi01.dll
bin/Debug/netcoreapp3.1/WebApi01.exe
bin/Debug/netcoreapp3.1/WebApi01.pdb
bin/Debug/netcoreapp3.1/WebApi01.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/WebApi01.runtimeconfig.json
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
obj/project.assets.json
obj/project.nuget.cache
obj/WebApi01.csproj.nuget.dgspec.json
obj/WebApi01.csproj.nuget.g.props
obj/WebApi01.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/WebApi01.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/WebApi01.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/WebApi01.assets.cache
obj/Debug/netcoreapp3.1/WebApi01.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/WebApi01.csproj.CopyComplete
obj/Debug/netcoreapp3.1/WebApi01.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/WebApi01.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/WebApi01.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/WebApi01.dll
obj/Debug/netcoreapp3.1/WebApi01.exe
obj/Debug/netcoreapp3.1/WebApi01.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/WebApi01.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/WebApi01.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/netcoreapp3.1/WebApi01.pdb
obj/Debug/netcoreapp3.1/WebApi01.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/staticwebassets/WebApi01.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/WebApi01.StaticWebAssets.xml
